.App {
  padding-left: 5%;
  padding-right: 5%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-content {
  background-color: #ffffff;
  color: black;
  display: inline-block;
  width: 100%;
  align-items: stretch;
}



.App-title {
  font-size: 1.5em;
}

.App-credit {
  font-size: 0.8em;
}

.App-intro {
  font-size: large;
}

.Bullet-hide {
    list-style: none;
    align-items: center;
}

.backdrop{
  position: 'fixed';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: 'rgba(0,0,0,0.3)';
  padding: 50;
}

.modal{
  background-color: '#fff';
  border: 5;
  max-width: 500;
  min-height: 300;
  margin: '0 auto';
  padding: 30;
}

#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}

.Nav {
  background:#2E5F91;
  text-align: center;
  border-radius: 30;
}

.Nav__item-wrapper {
  list-style-type: none;
}

.Nav__link {
  color:white !important;
}

.Nav__item {
  font-family: FontAwesome;
  margin-right: 10px;
  display: inline;
  vertical-align: middle;
  font-size: 1.6em;
  font-weight: normal;
  list-style: none;
}

.border-table{
  border:0.09px solid black;
  text-align: center;
  display: table;
  width: 100%;
  padding: 5px;
}

.dummy-block{
  height: 40px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
